body {
    background-color: rgb(104, 108, 129);
    margin: 0;
    padding: 0;
}
header {
    background-color: rgb(114, 143, 153);
    color: beige;
    text-align: center;
    padding: 20px;
}
main {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
section{
    width: calc(33.33% - 20px);
    margin-bottom: 20px;
    background-color: lightblue;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 6px 8px rgba (0,0,0,0.3);
    transition; transform: 0.3s;
}
h2 {
    margin-bottom: 10px;
    
}
iframe {
    width: 100%;
    height: 300px;
}